.header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.header h1 {
  width: min-content;
  margin-bottom: 0px;
  color: #FFFFFF;

  font-weight: 400;
}

.header .time {
  font-size: 19px;
  font-weight: 600;
  align-self: flex-end;
}

.header span {
  font-size: 1.18em;
  font-weight: 600;
}

.tittle {
  display: flex;
  flex-direction: column;
}

.navigationMenu {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.3em;
}

.navigationMenu a:hover {
  color: #a371f7
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.searchPanel {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;

  max-height: 50px;
  min-height: 30px;

  border-radius: 15px;
  color: #000000;

  font-weight: 300;
}

.search {
  min-width: 25vw;
}

.CardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.Card {
  background: linear-gradient(112.67deg, #ad36cb 32.23%, #333333 67.37%);
  box-shadow: 0px 4px 4px rgba(253, 245, 245, 0.25),
  0px 4px 4px rgba(255, 250, 250, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 38px 28px;
  border-radius: 32px;
  overflow: hidden;

  font-size: 1.8em;
}

.geoLocation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;

  font-weight: 300;
  font-size: 0.9em;
}

.mainInfoTemp {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;

  font-weight: 300;
  font-size: 1.7em;
}

.dayInfo {
  margin-bottom: 50px;

  font-size: 0.8em;
  font-weight: 500;
  text-decoration-line: underline;
}

.tempButton {
  display: flex;
  align-items: center;

  font-size: 1.25em;
  gap: 5px;
}

.toggle-ball {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: transform 0.3s ease-in-out;
}

.celsius {
  transform: translateX(0);
}

.fahrenheit {
  transform: translateX(66px);
}

@media only screen and (min-width: 1100px) {
  .Card {
    width: 30vw;
    max-width: 1200px;
  }
  
  .moreWeatherInfo {
    display: flex; 
    font-size: 19px;
    justify-content: space-between;
    font-weight: 500; 
  }

  .blockWeatherInfo {
  text-align: center;
  width: min-content;
  }
}

@media only screen and (max-width: 1100px) {
.moreWeatherInfo {
  display: flex;
  flex-wrap: wrap;
  font-size: 19px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.blockWeatherInfo {
  text-align: center;
  width: 100%;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

  .Card {
    width: 40vw;
    max-width: 1000px;
  }
}

@media only screen and (min-width: 768px) {
  .Card {
    width: 60vw;
    max-width: 800px;
  }
  .moreWeatherInfo {
    gap: 4px;
  }
}
@media only screen and (max-width:  700px) {
  .header .time {
    align-self: center;
    margin-bottom: 10px;
  }

  .Card {
    width: 80vw;
  }

  .tittle h1 {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .moreWeatherInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .header .time {
    align-self: center;
    margin-bottom: 10px;
  }

  .blockWeatherInfo {
    max-width: 100%;
    width: auto;
  }

  .tittle h1{
    display: none;
  }
  
  .Card {
  font-size: 1.5em;
  line-height: 1.2;
  }

  .navigationMenu {
    font-size: 18px;
    flex-direction: column;
  }
}
