.container {
  width: 50vw;
  margin: 0 auto;
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.searchPanel {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: 20px;
  max-height: 50px;
  min-height: 30px;
  background-color: white;
}

.search {
  min-width: 25vw;
}

/* :focus {
  outline: solid rgba(176, 224, 230, 0.752);
} */

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

.tittle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.CardContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.Card {
  color: white;
  background: linear-gradient(112.67deg, #ad36cb 32.23%, #333333 67.37%);
  padding: 1rem;
  border-radius: 30px;
  width: 25vw;
  font-size: 1.8em;
  /* box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 14%); */
  box-shadow: 0px 4px 4px rgba(253, 245, 245, 0.25),
    0px 4px 4px rgba(255, 250, 250, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.geoLocation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
}

.mainCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.7em;
}

.dayInfo {
  display: flex;
  justify-self: start;
  align-items: center;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  font-weight: 500;
}

.nameBottom {
  display: flex;
  font-size: 19px;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dataBottom {
  text-align: center;
  width: min-content;
}

.header {
  display: flex;
  color: white;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}

.header h1 {
  font-weight: 400;
  width: min-content;
  margin-bottom: 0px;
}

.header span {
  font-size: 19px;
  font-weight: 600;
}

.header a:focus {
  display: none;
}

.navMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}
