* {
  box-sizing: border-box;
}

body {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;

  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;

  background: rgba(37, 35, 35, 1);

  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
